<h4><b>Shift History</b></h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Jobs</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @past_shifts.each do |shift| %>
      <tr>
        <td><%= shift.date.strftime("%m/%d/%y") %></td>
        <td><%= shift.jobs.sort.map{|j| j.name}.join(", ") %></td>
        <td><%= shift.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @past_shifts, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next", :param_name => "past_shifts" %>