<div class="fields">
  <div class="min_user">
    <!-- fields -->
    <%= f.input :email, input_html: {class: "avg"} %>
    <%= f.input :password, input_html: {class: "avg"} %>
    <%= f.input :password_confirmation, input_html: {class: "avg"} %>
  </div>
</div>
