<div class="row">
  <div class="small-7 columns">
    <%= render partial: "employee_details" %>
  </div>
  <div class="small-5 columns">
    <%= render partial: "assignment_history" unless @assignments.empty?%>
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "partials/object_options", locals: {model_name: "employee", object: @employee}  %>