<div class="row">
  <div class="small-7 columns">
    <%= render partial: "assignment_details" %>
  </div>
  <div class="small-5 columns">
    <%= render partial: "shift_history" unless @shifts.empty?%>
  </div>
</div>

<!-- Add buttons to list all, edit project or destroy object -->
<%= render partial: "partials/object_options", locals: {model_name: "assignment", object: @assignment}  %>