<%= simple_form_for @flavor, html: { :class => 'form-horizontal' }, remote: true do |f| %>
  <%= f.input :name, label: "Name", input_html: {:class => "avg"} %>

  <p>&nbsp;</p>
  <div class="form-actions">
    <%= f.submit nil, class: 'button tiny radius' %>
    <%= link_to 'Cancel', home_path, class: 'button tiny radius alert' %>
  </div>
<% end %>