<br \>
<div class="row">
	<div class="small-7 columns">
		<%= render :partial => "incomplete_shifts" %>
	</div>
	<div class="small-5 columns">
		<%= render :partial => "active_flavors" %>
	</div>
</div>