<div class="row">
<div class="large-4 columns">
<%= image_tag 'ice_cream9.jpg', class: "center" %>
</div>
<div class="large-8 columns">
<h4><b>Our History</b></h4>
<div class="row">
<div class="large-6 columns">
<p>For more than 50 years, our passion for crafting the perfect flavors and creamiest textures using only the finest ingredients is what has set the A&M brand apart. We’ve never wavered on the principles that made us who we are from the very beginning. </p>
</div>
<div class="large-6 columns">
<p>Today, the A&M Creamery brand continues to transform the finest ingredients into extraordinary experiences bite by bite. With locations throughout the city of Pittsburgh, we offer you and your family happiness, one bite at a time.</p>
</div>
</div>
</div>
</div>
 
<div class="row">
<div class="large-8 columns">
<h4><b>Our Philosophy</b></h4>
<p>How good is our ice cream? Well, let's just say that on a scale of 1 to 10, we're somewhere around an 11.5. But we’re about more than just serving up amazing ice cream. We like to think we’re really in the business of making people happy...

It's all about what we call the 10-Minute Vacation... that 10-minute getaway you deserve from the world outside our doors. Just head inside any A&M Creamery, and that's what you'll get. From our enthusiastic crew members, to the shared laughter of a family enjoying  a treat together — if it’s making you, your friends, or your loved ones happy, then we’re doing our jobs right!</p>
</div>
<div class="large-4 columns">
<%= image_tag 'ice_cream11.jpg', class: "center" %>
</div>
</div>