<br \>
<div class="row">
  <div class="large-9 columns">
    <h3>Get in Touch!</h3>
    <p>We'd love to hear from you. You can reach out to us by sending a message and we will back to you as soon as possible. Feel free to comment on flavor suggestions, improvements to be made, or simply share your experience.</p>
    <div class="section-container tabs" data-section>
      <section class="section">
        <h5 class="title"><a href="#panel1">Contact A&M</a></h5>
        <div class="content" data-slug="panel1">
          <form>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline">Your Name</label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="yourName" placeholder="Jane Smith">
              </div>
            </div>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline"> Your Email</label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="yourEmail" placeholder="jane@smithco.com">
              </div>
            </div>
            <label>What's up?</label>
            <textarea rows="4"></textarea>
            <button type="submit" class="radius button">Submit</button>
          </form>
        </div>
      </section>
    </div>
  </div>
  <br \>
  <div class="large-3 columns">
    <%= image_tag 'ice_cream7.jpg', class: "center" %>
  </div>
 </div>